@font-face {
    font-family: 'Heebo';
    src: url('./fonts/Heebo-Light.woff2') format('.woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('./fonts/Heebo-Bold.woff2') format('.woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yantramanav';
    src: url('./fonts/Yantramanav-Bold.woff2') format('.woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/**
  Нормализация блочной модели
 */
 *,
 ::before,
 ::after {
   box-sizing: border-box;
 }
 
 /**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
 :where(ul, ol):where([class]) {
   padding-left: 0;
 }
 
 /**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
 body,
 :where(blockquote, figure):where([class]) {
   margin: 0;
 }

 svg *[fill] { fill: currentColor; }
 svg *[stroke] { stroke: currentColor; }
 
 /**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
 :where(
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p,
   ul,
   ol,
   dl
 ):where([class]) {
   margin-block: 0;
 }
 
 :where(dd[class]) {
   margin-left: 0;
 }
 
 :where(fieldset[class]) {
   margin-left: 0;
   padding: 0;
   border: none;
 }
 
 /**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
 :where(ul[class]) {
   list-style: none;
 }
 
 :where(address[class]) {
   font-style: normal;
 }
 
 /**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
 p {
   --paragraphMarginBottom: 24px;
 
   margin-block: 0;
 }
 
 /**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
 p:where(:not([class]):not(:last-child)) {
   margin-bottom: var(--paragraphMarginBottom);
 }
 
 p:not([class]):not(:last-child) {
  margin-bottom: 24px;
 }
 
 /**
   Упрощаем работу с изображениями и видео
  */
 img,
 video {
   display: block;
   max-width: 100%;
   height: auto;
   -webkit-user-drag: none;
   user-drag: none
 }
 
 /**
   Наследуем свойства шрифт для полей ввода
  */
 input,
 textarea,
 select,
 button {
   font: inherit;
 }
 
 html {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   height: 100%;
   /**
     Убираем скачок интерфейса по горизонтали
     при появлении / исчезновении скроллбара
    */
   scrollbar-gutter: stable;
 }
 
 /**
   Плавный скролл
  */
 html,
 :has(:target) {
   scroll-behavior: smooth;
 }
 
 body {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   min-height: 100%;
   /**
     Унифицированный интерлиньяж
    */
   line-height: 1.5;
 }
 
 /**
   Нормализация высоты элемента ссылки при его инспектировании в DevTools
  */
 a:where([class]) {
   display: inline-flex;
 }
 
 /**
   Курсор-рука при наведении на элемент
  */

 label {
   cursor: pointer;
 }
 
 /**
   Приводим к единому цвету svg-элементы
   (за исключением тех, у которых уже указан
   атрибут fill со значением 'none' или начинается с 'url')
  */
 :where([fill]:not(
   [fill="none"],
   [fill^="url"]
 )) {
   fill: currentColor;
 }
 
 /**
   Приводим к единому цвету svg-элементы
   (за исключением тех, у которых уже указан
   атрибут stroke со значением 'none')
  */
 :where([stroke]:not(
   [stroke="none"],
   [stroke^="url"]
 )) {
   stroke: currentColor;
 }
 
 /**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
 svg * {
   transition-property: fill, stroke;
 }
 
 /**
   Приведение рамок таблиц в классический 'collapse' вид
  */
 :where(table) {
   border-collapse: collapse;
   border-color: currentColor;
 }
 
 /**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
 @media (prefers-reduced-motion: reduce) {
   *,
   ::before,
   ::after {
     animation-duration: 0.01ms !important;
     animation-iteration-count: 1 !important;
     transition-duration: 0.01ms !important;
     scroll-behavior: auto !important;
   }
 }

:root {
    --color-dark: #000000;
    --color-dark-altirnate: #131619;
    --color-light: #ffffff;
    --color-dark-gray: #404040;
    --color-light-gray: #C4C4C4;
    --border-radius: 30px;
    --border: 1px solid var(--color-light);
    --font-family-base: 'Heebo', sans-serif;
    --font-family-accent: 'Yantramanav', sans-serif;
    --input-height: 54px;
    --container-width: 1300px;
    --container-padding-x: 15px;
    --header-height: 90px;

    --transition-duration: 0.2s;
}

body {
    font-family: var(--font-family-base);
    background-color: var(--color-dark);
    color: var(--color-light-gray);
    font-size: 16px;
    line-height: 1.75;
    user-select: none;
}

a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    color: var(--color-light)
}

a:hover {
    color: var(--color-light-gray);
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.container-weight {
  max-width: 1920px;
  margin-inline: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-light);
}

.uppercase-descriptions {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.65;
  color: var(--color-light);
  text-align: center;
  max-width: 450px;
}

.button {
    display: inline-flex;
    height: 38px;
    align-items: center;
    padding-inline: 26px;
    font-style: 12px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    background-color: var(--color-light);
    border: none;
    border-radius: var(--border-radius);
    white-space: nowrap;
    text-decoration: none;
}

.button.transparent {
  position: relative;
  height: var(--input-height);
  padding-inline: 31px 80px;
  background-color: transparent;
  border: var(--border);
  color: var(--color-light);
}

.button.transparent::after {
  position: absolute;
  content: " ";
  background: url(./icons/transparentArrow.svg) center/70% no-repeat;
  height: 100%;
  aspect-ratio: 1;
  border: var(--border);
  border-radius: 50%;
  right: 0;
}

.button.transparent:hover {
  background-color: var(--color-light-gray);
  color: var(--color-dark);
}

.input {
  height: var(--input-height);
  padding-inline: 25px;
  background-color: transparent;
  width: 100%;
  border: 1px solid var(--color-light-gray);
  border-radius: var(--border-radius);
  color: var(--color-light);
  transition-duration: var(--transition-duration);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.input::placeholder,
select.input:invalid {
  color: var(--color-light-gray);
}

.input:hover {
  border: var(--border);
}

.input:focus {
  outline: none;
  color: var(--color-dark);
  background-color: var(--color-light-gray);
}

.input:focus::placeholder {
  color: var(--color-dark);
}

.title-medium {
  font-size: 40px;
  line-height: 1.3;
}

.backdrop-title {
  position: relative;
  z-index: 2;
}

.backdrop-title::before {
  content: " ";
  display: block;
  width: 1em;
  aspect-ratio: 1;
  background: url(./icons/plus.svg) center/contain no-repeat;
  position: absolute;
  right: calc(100% + 8px);
}

.backdrop-title::after {
  position: absolute;
  z-index: -1;
  top: -0.3em;
  left: -0.6em;
  content: attr(data-title);
  line-height: 1;
  font-size: 2.8em;
  font-family: var(--font-family-accent);
  color: transparent;
  -webkit-text-stroke: 1px var(--color-dark-gray);
  text-stroke: 1px var(--color-light-gray);
}

.backdrop-title.centered::after {
  left: 50%;
  top: -0.3em;
  translate: -50% 0;
}

.button:hover {
    background-color: var(--color-light-gray);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    min-height: var(--header-height);
    padding-inline: 32px;
    background-color: var(--color-dark-altirnate);
}

.header-logo {
    flex-shrink: 0;
}

.header-menu-list {
    display: flex;
    column-gap: 50px;
    flex-wrap: wrap;
}

.header-menu-link {
    display: inline-flex;
    align-items: center;
    height: var(--header-height);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.2px;
    column-gap: 7px;
}

.header-menu-link.is-current::after {
    content: " ";
    width: 5px;
    aspect-ratio: 1;
    background-color: currentColor;
    border-radius: 50%;
}

.header-actions {
    display: flex;
    column-gap: 40px;
}

.header-burger-button {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8px;
    row-gap: 4px;
    width: 40px;
    aspect-ratio: 1;
    background-color: transparent;
    border: var(--border);
    border-radius: 50%;
    color: var(--color-light);
}

.header-burger-button:hover {
    color: var(--color-light-gray);
    border-color: currentColor;
}

.header-burger-button-line {
    width: 6px;
    height: 1px;
    background-color: currentColor;
    box-shadow: 16px 0 0 currentColor;
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important; 
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-height: calc(100vh - var(--header-height));
  padding: 36px 70px;
  color: var(--color-light);
  background-color: var(--color-dark-altirnate);
  position: relative;
  z-index: -1;
}

.banner-body {
  text-transform: uppercase;
}

.banner-info {
  display: flex;
  align-items: end;
  font-size: clamp(16px, 1.56vw, 30px);
  line-height: 1.27;
  font-weight: 700;
}

.banner-info::before {
  content: " ";
  width: clamp(60px, 10.1vw, 194px);
  aspect-ratio: 1;
  margin-right: 30px;
  background: url(./icons/boldArrowDownRight.svg) center/contain no-repeat;
}

.banner-title {
  font-size: min(18vw, 360px);
  line-height: 1;
}

.banner-pagination-list {
  display: flex;
  justify-content: center;
}

.banner-pagination-item {
  display: flex;
}

.banner-pagination-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 7px;
  background-color: transparent;
}

.banner-pagination-button::after {
  content: " ";
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: var(--border);
  transition-duration: var(--transition-duration);
}

.banner-pagination-button.is-current::after {
  background-color: var(--color-light);
}

.banner-pagination-button:not(.is-current):hover::after {
  border-color: var(--color-light-gray);
}

.motivation {
  position: relative;
  z-index: 0;
}

.motivation-item:nth-child(even) {
  background-color: var(--color-dark-altirnate);
}

.motivation-card {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: clamp(30px, 10.42vw, 200px);
}

.motivation-item:nth-child(even) .motivation-card {
  flex-direction: row-reverse;
}

.motivation-card-img {
  margin-block: -60px;
}

.motivation-card-body {
  padding-left: 35px;
}

.motivation-card-description {
  max-width: 400px;
}

.motivation-card-description:not(:last-child) {
  margin-bottom: 37px;
}

.motivation-card-title:not(:last-child) {
  margin-bottom: 14px;
}

.training-types {
  background-color: var(--color-dark);
  position: relative;
  z-index: 100;
}

.trainig-types-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 60px;
  padding-block: 70px 120px;
}

.training-types-item {
  --trainingTypesItemBgIconSize: 80px;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 33px;
  padding-top: var(--trainingTypesItemBgIconSize);
  background: url(./icons/leftDownArrow.svg) 100% 0/var(--trainingTypesItemBgIconSize) no-repeat;
}


.training-types-title {
  font-size: 16px;
}

.join-us {
  background-color: var(--color-dark-altirnate);
}

.join-us-video-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./images/joinUs/backgroundManImg.jpg) center/cover no-repeat var(--color-dark-altirnate);
  padding: 150px 30px;
}

.join-us-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: clamp(100px, 10.41vw, 200px);
  aspect-ratio: 1;
  border: var(--border);
  background-color: transparent;
  border-radius: 50%;
  color: var(--color-light);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  column-gap: 4px;
}

.join-us-play-button::after {
  content: " ";
  background: url(./icons/rightTopIconPlayButton.svg) center/contain no-repeat;
  width: 26px;
  aspect-ratio: 1;
  transition-duration: var(--transition-duration);
}

.join-us-play-button:hover {
  color: var(--color-dark);
  background-color: var(--color-light-gray);
}

.join-us-play-button:hover::after {
  filter: invert();
}

.join-us-body {
  padding-bottom: 150px;
}

.join-us-title {
  position: relative;
  font-size: clamp(64px, 9.37vw, 180px);
  line-height: 1;
  text-align: center;
  margin-top: -0.4em;
  z-index: 0;
}

.join-us-title::after {
  content: " ";
  display: inline-block;
  height: 0.7em;
  aspect-ratio: 1;
  background: url(./icons/boldArrowDownRight.svg) center/contain no-repeat;
  scale: 1 -1;
  margin-left: 0.14em;
}

.join-us-title:not(:last-child) {
  margin-bottom: 130px;
}

.join-us-form-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 7px;
}

.big-title {
  font-size: clamp(24px, 3.12vw, 60px);
}

.join-us-form-header:not(:last-child) {
  margin-bottom: 52px;
}

.join-us-form-input {
  max-width: 400px;
}

.join-us-form-body {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  row-gap: 20px;
}

.location {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.location-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px 15px;
  text-align: center;
}

.location-title:not(:last-child) {
  padding-bottom: 14px;
}

.location-description:not(:last-child) {
  padding-bottom: 37px;
  max-width: 490px;
  color: var(--color-light-gray);
}

.location-map-img {
  height: auto;
}

.family {
  background-color: var(--color-dark-altirnate);
}

.family-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-block: 132px 98px;
  text-align: center;
  row-gap: 7px;
}

.family-body {
  display: flex;
  justify-content: center;
  column-gap: 26px;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
}

.family-img {
  scroll-snap-align: start;
}

.calculate {
  background-color: var(--color-dark-altirnate);
  padding-block: 146px;
}

.calculate-inner {
  display: flex;
  align-items: center;
  column-gap: 36px;
}

.calculate-body {
  flex-grow: 1;
  max-width: 627px;
}

.calculate-title:not(:last-child) {
  padding-bottom: 16px;
}

.calculate-description:not(:last-child) {
  padding-bottom: 30px;
  max-width: 385px;
}

.calculate-form-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px 30px;
}

.calculate-input.wide {
  grid-column: -1 / 1;
  margin-bottom: 28px;
}

.calculate-table-wrapper {
  position: relative;
  width: 100%;
  max-width: 610px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculate-table-wrapper::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-color: var(--color-dark);
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
}

.calculate-table {
  position: relative;
  border-collapse: collapse;
}

.calculate-table th {
  padding-block: 20px;
  text-align: left;
  text-transform: uppercase;
  color: var(--color-light);
}

.calculate-table td {
  padding-block: 14px;
}

.calculate-table tfoot td {
  padding-top: 33px;
  padding-bottom: 0;
  color: var(--color-light);
}

.calculate-table:is(td, th) {
  padding-right: 30px;
}

.calculate-table :is(td, th):not(:first-child) {
  padding-left: 30px;
}

.calculate-table :is(td, th):not(:last-child) {
  border-right: 1px solid var(--color-light-gray);
}

.calculate-table tbody td {
  border-top: 1px solid var(--color-light-gray);
}

.calculate-table tbody tr:last-child td:first-child {
  position: relative;
}

.calculate-table tbody tr:last-child td:first-child::after {
  content: " ";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1px;
  background-color: var(--color-light-gray);
}

.footer {
  --footerLogoWidth: 20.77%;
}

.footer-main {
  padding-top: 140px;
  padding-bottom: 160px;
}

.footer-header,
.footer-body {
  display: grid;
  column-gap: 62px;
}

.footer-header {
  grid-template-columns: var(--footerLogoWidth) auto;
}

.footer-extra {
  padding-block: 15px;
  background-color: var(--color-dark-altirnate);
}

.footer-body {
  grid-template-columns: var(--footerLogoWidth) repeat(3, 1fr);
}


.footer-description {
  text-align: left;
  max-width: 900px;
}

.footer-header:not(:last-child) {
  margin-bottom: 60px;
}

.footer-column-title {
  font-size: clamp(18px, 1.14vw, 22px);
}

.footer-column-title:not(:last-child) {
  margin-bottom: 15px;
}

.footer-schedule:not(:last-child) {
  margin-bottom: 13px;
}

.footer-address {
  font-style: normal;
}

.footer-address:not(:last-child) {
  margin-bottom: 35px;
}

.footer-column-title.has-arrow::after {
  content: " ";
  display: inline-block;
  height: 0.74em;
  aspect-ratio: 1;
  background: url(./icons/boldArrowDownRight.svg) center/contain no-repeat;
  scale: -1 1;
  margin-left: 0.50em;
}

.footer-subscribe {
  position: relative;
}

.footer-subscribe:not(:last-child) {
  margin-bottom: 50px;
}

.footer-subscribe-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  aspect-ratio: 1;
  background-color: transparent;
  border: var(--border);
  border-radius: 50%;
  background: url(./icons/transparentArrow.svg) center / 70% no-repeat;
}

.footer-subscribe-button:hover {
  background-color: var(--color-light-gray);
}

.footer-subscribe-input {
  padding-right: 70px;
}

.footer-soc1als-list {
  display: flex;
  column-gap: 18px;
}

.footer-soc1als-link {
  display: flex;
  width: 23px;
}

.footer-copyright {
  font-size: 14px;
}

.footer-logo-img {
  width: auto;
  height: auto;
}

@media (max-width: 1700px) {
  .trainig-types-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1400px) {
  .title-medium {
    font-size: 30px;
  }

  .motivation-card-img {
    margin-block: -20px;
  }

  .footer-header {
    column-gap: 40px;
  }
}

@media (max-width: 1350px) {
  .title-medium {
    font-size: 25px;
  }
}

@media (max-width: 1230px) {
  .motivation-card-img {
    margin-block: -20px;
  }

  .location {
    grid-template-columns: repeat(1, 1fr);
  }

  .location-map-img {
    margin: auto;
  } 
}

@media (max-width: 1095px) {
  .motivation-card-img {
    max-width: 30%;
  }
}

@media (max-width: 1024px) {
    .header {
        flex-wrap: wrap;
        row-gap: 10px;
        padding-top: 20px;
    }

    .header,
    .banner {
      padding-inline: 15px;
    }

    .header-menu {
        order: 1;
        flex-basis: 100%;
    }

    .header-menu-link {
        height: 50px;
    }

    .banner {
      row-gap: 10px;
    }

    .motivation-card-img {
      margin-block: -10px;
    }

    .title-medium {
      font-size: 20px;
    }

    .trainig-types-list {
      grid-template-columns: repeat(2, 1fr);
    }

    .family-img {
      height: 360px;
    }

    .calculate {
      padding-block: 100px;
    }

    .calculate-form-body {
      grid-template-columns: repeat(1, 1fr);
    }

    .calculate-button {
      width: 100%;
    }

    .footer-main {
      padding-top: 80px;
      padding-bottom: 50px;
    }

    .footer-body {
      grid-template-columns: repeat(2, 1fr);
    }

    .footer-logo-img {
      height: 50px;
    }
}

@media (max-width: 767px) {
    .header {
        padding-top: 10px;
    }

    .header-menu-list {
        column-gap: 24px;
    }

    .header-menu-link {
        height: 32px;
    }

    .header-actions {
        column-gap: 15px;
    }

    .button {
        padding-inline: 18px;
    }

    .banner-info::before {
      margin-right: 20px;
    }

    .banner-info {
      margin-bottom: 5px;
    }

    .motivation-card-img {
      max-width: 60%;
    }

    .motivation-card,
    .motivation-item:nth-child(even) .motivation-card 
    {
      flex-direction: column-reverse;
      row-gap: 30px;
      padding-block: 10px;
    }

    .trainig-types-list {
      gap: 20px;
    }

    .training-types-item {
      --trainingTypesItemBgIconSize: 50px;
      row-gap: 10px;
    }

    .training-types-img {
      max-width: 120px;
    }

    .join-us-form-body {
      flex-direction: column;
      align-items: center;
    }

    .family-img {
      height: 180px;
    }

    .calculate-inner {
      column-gap: 20px;
    }

    .calculate-table :is(td, th) {
      padding-block: 10px;
    }

    .calculate-table tfoot td {
      padding-block: 10px;
    }

    .calculate-inner {
      flex-direction: column;
      row-gap: 30px;
    }

    .calculate-table-wrapper::before {
      background-color: transparent;
    }

    .footer-body {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 40px;
      text-align: center;
    }

    .footer-column {
      justify-self: center; /* Выравнивание по горизонтали */
      align-self: center;
    }

    .footer-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .footer-description {
    text-align: center;
    margin-top: 50px;
  }
}

@media (max-width: 390px) {
  .family-header-title.backdrop-title::before {
    left: 0;
  }
}

